$white: #FFF;
$grey: #EBEBEB;
$text-grey: #696969;
$orange: #FF5C00;
$light-blue: #EBF6F8;
$black: #000;

$primary: $light-blue;

$phone-breakpoint: 768px;
$ipad-breakpoint: 992px;
$laptop-breakpoint: 1300px;

$primary-font: 'Roboto', Helvetica, Arial, serif;
$primary-font-bold: 'Roboto Bold', Helvetica, Arial, serif;
$secondary-font: 'Open Sans', Helvetica, Arial, serif;
